.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    z-index: 899; /* Ensure overlay is on top of everything */
    display: none;
}

body.modal-open {
    overflow: hidden;
}

